<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>保险</title>
  <link rel="stylesheet" type="text/css" href="../../lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../../lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../lib/easyui/themes/material/easyui.css">
  <link rel="stylesheet" type="text/css" href="../../lib/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../../src/style/app.css">
</head>
<body>
  <!-- 查询表单开始 -->
  <div id="ff" class='row vForm'>  
    <div class="col-md-6 vForm-item">  
      <label for="name1">日期:</label>  
      <input type="text" name="name3" id="starDate" class="Wdate"  
        onFocus="WdatePicker({isShowClear:false,isShowToday:false,isShowOK:false,readOnly:true,maxDate:'\'2030-10-01\'}'})"/>  
       
      <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
    </div>  
  </div>
  <!-- 表格开始 -->
  <div style='padding: 8px'>
    <table id="insuranceGrid" class="easyui-datagrid"></table>
  </div>  

  
  <!-- 编板弹出框开始 -->
  <div id="insuranceDialog">
    <form id="insuranceFf" class='row vForm'>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="name1">保险单号:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="name1" />  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="name2">种类:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input id="zl" type="text" name="name4" /> 
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="name3">金额:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="name3" />  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="name4">保险公司:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="name4" />  
      </div>
    </form>  
  </div>
  <!-- 编板弹出框结束 --> 
<script type="text/javascript" src="../../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../../lib/easyui/easyui-lang-zh_CN.js"></script>    
<script type="text/javascript" src="../../lib/My97datePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/dist/js/insurance.js"></script></body>
</html>